[Unit]
Description=Certificate sync
After=network-online.target
Wants=network-online.target
OnFailure=failure-notification@certsync.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/certsync.sh
