[Unit]
Description=Mount Share at boot
After=network-online.target
Wants=network-online.target

[Mount]
What=//neutron.cr.imson.co/backup
Where=/mnt/backup
Options=credentials=/etc/samba/credentials/backup,iocharset=utf8,rw,x-systemd.automount
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
