[Unit]
Description=Mount nexus share at boot
After=network-online.target
Wants=network-online.target

[Mount]
What=//neutron.cr.imson.co/nexus
Where=/mnt/nexus
Options=credentials=/etc/samba/credentials/nexus,iocharset=utf8,rw,x-systemd.automount
Type=cifs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
