[Unit]
Description=Regular backups for Docker volumes.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/volume-backup.sh
